<app-menu-title></app-menu-title>

<div class="container__articles">
  <div class="articles__main">

    <app-big-card
      [id]="heroBigCard.id"
      [photoCover]="heroBigCard.photoCover"
      [cardTitle]="heroBigCard.title"
      [cardDescription]="heroBigCard.description"
    >
    </app-big-card>

  </div>
  <div class="articles__others">
    <app-small-card *ngFor="let hero of herosSmallCard"
                    [id]="hero.id"
                    [photoCover]="hero.photoCover"
                    [cardTitle]="hero.title"
    >
    </app-small-card>
  </div>
</div>
